@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

html, body, [class*="css"] {
    font-family: 'Be Vietnam Pro', sans-serif; 
    /*font-size: 18px;
    font-weight: 500;*/
}



div[data-testid="stHorizontalBlock"]:nth-of-type(1) {
    background-color: #454F5B;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
    min-width: 610px;
}


@media (max-width: 610px) {
.show-on-cel {
    display: block !important;
}

}
